Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "GET, POST, PATCH, PUT, DELETE, OPTIONS"
Header add Access-Control-Allow-Headers "Origin, Authorization, X-Requested-With, Content-Type, Accept"

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]